<nb-layout>
  <nb-layout-header><h1>Travels</h1></nb-layout-header>
<nb-layout-column>
  <nb-card class="bookings">
    <nb-card-header>
      <div style="text-align: center;">Bookings</div>
      <div style="text-align: right;">
        <button style="margin: 10px;" nbButton (click)="createNewTrip()">New Trip</button>
        <button style="margin: 10px;" nbButton (click)="allocateSeats()">Seat Allocation</button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <table style="width:100%">
        <thead>
          <tr>
            <td><b>Traveller Name</b></td>
            <td><b>Nationality</b></td>
            <td><b>From</b></td>
            <td><b>To</b></td>
            <td><b>Seat Preference</b></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td>{{booking.traveller.name}}</td>
            <td>{{booking.traveller.nationality}}</td>
            <td>{{booking.trip.from}}</td>
            <td>{{booking.trip.to}}</td>
            <td>{{booking.prefType == null? 'No Preference': booking.prefType}}</td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card >
  <nb-card *ngIf="allocationList.length != 0">
    <nb-card-header>Confirmed bookings and seat allocation</nb-card-header>
    <nb-card-body>
      <table style="width:100%">
        <thead>
          <tr>
            <td><b>Traveller Name</b></td>
            <td><b>Nationality</b></td>
            <td><b>From</b></td>
            <td><b>To</b></td>
            <td><b>Allocated Seat</b></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let allocation of allocationList">
            <td>{{allocation.booking.traveller.name}}</td>
            <td>{{allocation.booking.traveller.nationality}}</td>
            <td>{{allocation.booking.trip.from}}</td>
            <td>{{allocation.booking.trip.to}}</td>
            <td>{{allocation.seat.seatId}}({{allocation.seat.type}})</td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
  <nb-card *ngIf="nextTaskName=='newTrip'">
    <nb-card-header>
      Trip details
    </nb-card-header>
    <nb-card-body>
      <input type="text" nbInput fullwidth placeholder="traveller name" [(ngModel)]="traveller.name"/>
      <nb-select fullwidth placeholder="Select nationality"  [(selected)]="traveller.nationality">
        <nb-option *ngFor="let item of nationalityList" [value]="item">{{item}}</nb-option>
      </nb-select>
      <nb-select fullwidth placeholder="Select travel source" [(selected)]="trip.from">
        <nb-option *ngFor="let item of travelFromList" [value]="item">{{item}}</nb-option>
      </nb-select>
      <nb-select fullwidth placeholder="Select travel destination" [(selected)]="trip.to">
        <nb-option *ngFor="let item of travelDestList" [value]="item">{{item}}</nb-option>
      </nb-select>
      <button nbButton (click)="submitTripDetails()">Submit</button>
    </nb-card-body>
  </nb-card>
  <nb-card *ngIf="nextTaskName=='visaApplication'">
    <nb-card-body>
      You are not eligible to go to the destination without visa. Please get visa approval.
      <button nbButton (click)="applyForVisa()">Apply visa</button>
    </nb-card-body>
  </nb-card>
  <nb-card *ngIf="nextTaskName=='flightBooking'">
    <nb-card-body>
      You can book flight ticket now. We have your trip details. select seat preference (optional).
      <nb-select fullwidth placeholder="Select seat preference" [(selected)]="booking.prefType">
        <nb-option *ngFor="let item of prefSeatType" [value]="item">{{item}}</nb-option>
      </nb-select>
      <button nbButton (click)="bookFlight()">Book now</button>
    </nb-card-body>
  </nb-card>
</nb-layout-column>
</nb-layout>